.main__vpn-section{
    background: #272848;
}
.main__vpn-about,
.main__vpn-work{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__vpn-title{
    font-size: 25px;
    line-height: 31px;
    color: #E63956;
    font-family: var(--Poppins-Medium);
    padding-top: 103px;
    padding-bottom: 16px;
}

.main__vpn-description,
.main__work-description{
    font-size: 16px;
    line-height: 150%;
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: #DADADA;
    font-family: var(--Poppins-Regular);
    padding-bottom: 80px;
}
.main__work-description{
    color: #6C6D8A;
}
.main__work-title{
    font-size: 31px;
    line-height: 38px;  
    color: #2C2738;
    font-family: var(--Poppins-SemiBold);
    padding-top: 74px;
    padding-bottom: 16px;
}
.main__work-theme{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__theme-title{
    font-size: 18px;
    line-height: 38px;
    color: #929292;
    font-family: var(--Poppins-Regular);
}
.main__theme-img{
    width: 322px;
}

.main__work-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* .rocket{
    width: 120px;
} */
.main__item-img{
    width: 80px;
    height: 80px;
}
.main__item-content{
    padding-left: 44px;
}
.main__work-item{
    display: flex;
}
.main__item-title{
    font-size: 25px;
    line-height: 31px;
    color: #19B900;
    font-family: var(--Poppins-Medium);
    padding-bottom: 12px;
}
.main__item-description{
    font-size: 16px;
    line-height: 150%;
    color: #6C6D8A;
    font-family: var(--Poppins-Regular);
    max-width: 280px;
    width: 100%;
    margin-bottom: 41px;
}



.main__vpn-app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 54px;
    flex-wrap: wrap;
}
.appstore{
    width: 140px;
}
.playmarket{
    width: 155px;
}







/* MAIN BLOCK */

/* MAIN BLOCK */

.privacy-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 207px;
    padding-right: 15px;
    padding-left: 15px;

    
}



.main-title{
    font-size: 31px;
    line-height: 38px;
    color: #272848;
    margin-top: 63px;
    padding-bottom: 64px;
    font-family: var(--Poppins-SemiBold);
}

.privacy-description,
.sub{
    font-size: 16px;
    line-height: 27px;
    color: #424242;
    font-family: var(--Poppins-Regular);
    max-width: 1100px;
    width: 100%;
    padding-bottom: 16px;
}

.ex{
    font-size: 16px;
    line-height: 27px;
    color: #424242;
    font-family: var(--Poppins-Regular);
    max-width: 1100px;
    width: 100%;
}

.sub-title{
    padding-top: 28px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #272848;
    font-family: var(--Poppins-Medium);
}


.sli { 
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-family: $raleway;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  /*****************************************
  *  --------------------------------------*
  *  Slick                                 *
  *  --------------------------------------*
  *****************************************/
  
  .cl {
    height:200px;
    padding:10px;
  }
  
  .cl-yellow { 
    background: #f1c40f; 
  }
  
  .cl-blue { 
    background: #3498db; 
  }
  
  .cl-red { 
    background: #e74c3c; 
  }
  
  .slick-active { 
    padding: 20px 0; 
  }
  
  .slick-center { 
    transform: scale(1.08) 
  }
  
  .slick-slide:not(.slick-active) { 
    margin: 20px 0; 
  }
  
  .child { 
    width:100%; 
  }
  
  .slide:not(.slick-active) { 
    cursor: pointer; 
  }
  

  .slid-img{
     width: 242px;
  }
  .slid-im{
      width: 225px;
  }
  .slick-prev:before
  {
      content: url(../img/icons/back.png) !important;
  }
  [dir='rtl'] .slick-prev:before
  {
      content: url(arrow-left.png);
  }
   
  .slick-prev{
      left: -100px !important;
  }
  .slick-next
  {
      right: -100px !important;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -100px;
  }
  .slick-next:before
  {
      content: url(../img/icons/next.png) !important;
  }
  [dir='rtl'] .slick-next:before
  {
      content:  url(arrow-right.png);
        
  }



  .testimonial-img{
      width: 120px;
  }
  .testimonial-title{
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    color: #19B900;
    font-family: var(--Poppins-Medium);
  }
  .testimonial-description{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #6C6D8A;
    font-family: var(--Poppins-Regular);
    width: 318px;
  }

  .content-left{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 64px;
      
  }

  .testimonial-content{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 57px;
      flex-wrap: wrap;
  }

  .contact-content{
    filter: drop-shadow(5px -5px 10px #FAFBFF) drop-shadow(-5px 5px 10px rgba(108, 109, 138, 0.6));
    background: #272848;
    border-radius: 20px;
    
  }

  .contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact-title{
    font-weight: bold;
font-size: 34px;
line-height: 44px;
color: #FFFFFF;
font-family: var(--'IBMPlexSans-Bold');
padding-top: 47px;
padding-left: 67px;
}

.contact-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #19B900;
    font-family: var(--Poppins-Medium);
    padding-left: 67px;
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}


.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content{
    display: flex;
    flex-direction: column;
}


.contact__label{
    font-size: 16px;
    line-height: 24px;
    color: #756F86;
    font-family: var(--Poppins-Medium);
    font-weight: 500;
}

.contact__input{
    max-width: 300px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 3px -3px 5px rgba(225, 231, 255, 0.3), -3px 3px 5px rgba(109, 113, 249, 0.3);
    border-radius: 4px;
    padding: 11px 139px 11px 12px;
    
}

.grid-left{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    padding-left: 116px;
    padding-top: 89px;
    padding-bottom: 66px;
    padding-right: 132px;
}

.grid{
    margin-right: 45px;
}

.button--flex{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: var(--Poppins-Medium);
    padding: 12px 65.5px;
    background: #6D71F9;
    border-radius: 8px;
    width: 182px;
    position: absolute;
    left: 75%;
    bottom: 3%;
}

.mb{
    margin-bottom: 162px;
}

.contact__input::placeholder{
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #838385;
    font-family: var(--Poppins-Medium);
}


/* SLICK TESTI */

/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
    margin: 0 auto;
    width: 1000px;
  }
  
  /* The width of each slide */
  .slick-slide {
    width: 350px;
  }
  
  /* Color of the arrows */
  .slick-next::before, .slick-prev::before {
    color: blue;
  }





/* Client */

.client-content{
    background: var(--Blue);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 334px;
    display: flex;
    margin-right: 50px !important;
    
}
.click-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
.personal-info{
    display: flex;
    justify-content: center;
}
.client-description{
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: var(--Poppins-Regular);
    max-width: 200px;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
}
.client-name{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #272848;
    font-family: var(--Poppins-SemiBold);
    padding-right: 114px;

}

.testimonial__icon-star{
    color: yellow;

}

.quote{
    padding-top: 44px;
}

.slick-carousel{
    display: flex;
    flex-wrap: wrap;
}


/*  */

.content-flex{
    display: flex;
    flex-wrap: wrap;
}




/* demo */


.wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }
  